Repository factorio-rivets/rivets-injector, pull requests merged in 2024-08, with the labels that each got.

#1 feat: initial steps for cross platform
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  src/common.rs
  src/lib.rs
  src/linux.rs
  src/main.rs
  src/windows.rs
Labels: enhancement, os::linux, os::windows

#5 ci: fix sarif upload permission
  .github/workflows/rust.yml
  Cargo.lock
Labels: bug, ci

#6 ci: use nightly clippy
  .github/workflows/rust.yml
Labels: bug, ci

#8 feat: Add RPC to send factorio path data into the dll
  src/windows.rs
Labels: enhancement, os::windows

#7 feat: unified extraction of rivets lib & loading
  Cargo.lock
  Cargo.toml
  src/common.rs
  src/lib.rs
  src/linux.rs
  src/main.rs
  src/windows.rs
Labels: enhancement, os::linux, os::windows
